div.linha-menu {
    background-color: #000000;
    justify-content: space-between;
    height: 12vh;
}
.menu {
    padding: 20px 0;
    display: flex;
    list-style: none;
    margin: 0;
}
.item-menu {
    margin: 0 20px;
}
.item-menu a{
    font-weight: 400;
    color: #f8f8f8aa;
    font-size: 13px;
    padding-bottom: 5px;
    letter-spacing: .9px;
}
.item-menu a:hover {
    color: #ff6a00;
}
.login a{
    color: #ff6a00;
    font-weight: 400;
}
.login a:hover {
    text-decoration: underline;
    color: #ff6a00;
}
.cadastro a {
    color: #f8f8f8;
    background-color: #ff6a00;
    margin: 0 30px;
    padding: 7px 20px;
    border-radius: 20px;
    font-weight: 400;
}
.cadastro a:hover {
    color: #f8f8f8;
    text-shadow: 0px 0px 4px #f8f8f8;
}